.container {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(208, 216, 209);
}

.scroll {
  overflow: auto;
}

.mr-1 {
  margin-right: 1em;
}

table, td, tr {
  border: 1px solid #999;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}

td {
  padding: 0.8em 1em;
}

thead {
  font-weight: bold;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  font-size: 12pt;
  transition: 180ms;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

.btn-default {
  background-color: rgb(41, 41, 41);
  color: #fff;
}

.btn-red {
  background-color: rgb(199, 40, 40);
  color: #fff;
}

.btn-green {
  background-color: rgb(144, 240, 155);
  color: #fff;
}

.btn-blue {
  background-color: rgb(36, 151, 197);
  color: #fff;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100%;
  height: 100%;
}

#show {
  display: inline;
}

#not {
  display: none;
}

input {
  padding: 0.8em 1.2em;
  margin-bottom: 1em;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #999;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(208, 216, 209);
  border-radius: 10px;
  padding: 5em 3em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form-container input {
  display: block;
}

.form-container > h1,
.form-container > h2,
.form-container > h3 {
  margin: 0;
  margin-bottom: 1em;
}

#cross {
  position: absolute;
  top: 30px;
  right: 30px;
  color: red;
  padding: 0.5em;
}

i:hover {
  cursor: pointer;
}